# Pycharm user-specific files
.idea

# run-time logs
nohup.out
simulations/**/results


# Sequence Simulation Data Files
*.seqs
*.tsv
*.csv

!simulations/sample_experiment/*.tsv
!simulations/sample_experiment/config.ini

# Others
*.swp
*.log




# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# PyInstaller
*.manifest
*.spec
# python binaries
*.pyc
__pycache__
.cache