# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
# PyInstaller
*.manifest
*.spec
# python binaries
*.pyc
__pycache__


# Pycharm user-specific files
.idea/*
.idea

# run-time logs
nohup.out
experiments/*/results
experiments/*/*/results
experiments/*/*/*/results

# Sequence Simulation Data Files
*.seqs
*.data
*.dwn
*.tsv

# Others
*.tmp
*.zip
*.png

